<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Profile';">
    <div class="col-lg-12" ng-controller="ProfileCtrl">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 padding-right-0">
                        <div class=" uprofile-wrapper">
                            <div class="uprofile-image">
                                <img class="img-responsive"  ng-if="currentUser.image!=''" ng-src="{{currentUser.image}}" alt="" style="max-width:200px;">
                                <img class="img-responsive"  ng-if="currentUser.image==''" ng-src="img/profileimg-placeholder.jpg" alt="" style="max-width:200px;">
                            </div>
                            <div class="uprofile-name">
                                <h3>
                                <a href="#">{{currentUser.firstname+"  "+currentUser.lastname}}</a>
                                <!-- Available statuses: online, idle, busy, away and offline -->
                                <span class="uprofile-status online"></span>
                                </h3>
                                <p class="uprofile-title">{{currentUser.profile.title}}</p>
                                <p class="text-light profile-text">{{currentUser.profile.description}}</p>
                                <p class="margin-top-30">
                                <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-google-plus icon-xs"></i></a>
                                <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-twitter icon-xs"></i></a>
                                <a href="#" class="btn btn-default btn-md text-light"><i class="fa fa-facebook icon-xs"></i></a>
                                </p>
                                <br>


                                <div class="btn btn-md "  style='width:150px;'  ng-click="user.following.indexOf(currentUser._id)>-1 ? unfollow(currentUser ._id) : follow(currentUser._id)" ng-class = "user.following.indexOf(currentUser._id)>-1 ? 'btn-info' : 'btn-success'" ng-if="user._id !=currentUser._id">         
                                    {{user.following.indexOf(currentUser._id)>-1 ? "Unfollow" : "Follow"}}
                                    <span ng-if="loadingFollow">
                                        <i class="fa fa-spinner fa-spin  fa-fw"></i>
                                    </span>
                                </div>

                                <br><div class="clearfix"></div><br>
                                
                                <div class="margin-top-30">
                                    <div class="col-xs-4 bg-primary text-whtie">
                                        <strong class="uprofile-count">{{currentUser.followedByCount}}</strong>
                                        <span>Follower</span>
                                    </div>
                                    <div class="col-xs-4 bg-primary text-whtie">
                                        <strong class="uprofile-count">{{currentUser.following.length}}</strong>
                                        <span>Following</span>
                                    </div>
                                    <div class="col-xs-4 bg-primary text-whtie">
                                        <strong class="uprofile-count">{{currentUser.postCount}}</strong><br/>
                                        <span>Posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uprofile-buttons margin-0 padding-top-0 text-center">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12 padding-left-0">
                        <div class="uprofile-content padding-top-30">

                        <h4>Biography:</h4>
                        <p>{{currentUser.profile.bio}}
                        </p><br><div class="clearfix"></div>
                            <div class="enter_post col-md-12 col-sm-12 col-xs-12" ng-if="canPost">
                                <h4>Write Posts:</h4><br><div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text"  class="form-control" id="field-1" ng-model="currentPost.title" placeholder="Title">
                                    </div>
                                    <br><div class="clearfix"></div><br>
                                    <div class="controls">
                                        <textarea class="form-control autogrow" id="field-7" placeholder="What's on your mind?" ng-model="currentPost.content"></textarea>
                                    </div>
                                </div>
                                <div class="enter_post_btns col-md-12 col-sm-12 col-xs-12">
                                    <a class="btn btn-md pull-right btn-primary" ng-click="addPost()">Post</a>
                                    <a href="#" class="btn btn-md pull-right btn-link"><i class="fa fa-image"></i></a>
                                    <a href="#" class="btn btn-md pull-right btn-link"><i class="fa fa-map-marker"></i></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                            <!-- <div class="uprofile_wall_posts col-md-12 col-sm-12 col-xs-12">
                                <div class="pic-wrapper col-md-1 col-sm-1 col-xs-2 text-center">
                                    <img src="data/profile/avatar-2.png" class="" alt="">
                                </div>
                                <div class="info-wrapper col-md-11 col-sm-11 col-xs-10">
                                    <div class="username">
                                        <span class="bold">John Smith</span> post in group <span class="bold">music</span>
                                    </div>
                                    <div class="info text-muted">
                                        "Balance" is a concept based on human perception and the complex nature of the human senses of weight and proportion.
                                    </div>
                                    <div class="info-details">
                                        <ul class="list-unstyled list-inline">
                                            <li><a href="#" class="text-muted">15 Minutes ago</a></li>
                                            <li><a href="#" class="text-muted"><i class="fa fa-comment"></i> 584</a></li>
                                            <li><a href="#" class="text-muted"><i class="fa fa-heart"></i> 12k</a></li>
                                            <li><a href="#" class="text-muted"><i class="fa fa-reply"></i> Reply</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div> -->
                            <div class="uprofile_wall_posts col-md-12 col-sm-12 col-xs-12" ng-repeat = "post in currentPosts">
                                <!-- <div class="pic-wrapper col-md-1 col-sm-1 col-xs-2 text-center">
                                    <img src="data/profile/avatar-2.png" class="" alt="">
                                </div> -->
                                <div class="info-wrapper col-md-11 col-sm-11 col-xs-10">
                                    <!-- <div class="username">
                                        <span class="bold">John Smith</span> post in group <span class="bold">music</span>
                                    </div> -->
                                    <div class="username">
                                        <span class="bold">{{post.title}}</span>
                                    </div>
                                    <div class="info text-muted">
                                        {{post.content}}
                                    </div>
                                    <div class="info-details">
                                        <ul class="list-unstyled list-inline">
                                            <li><a href="#" class="text-muted">{{post.createdAt | date}}</a></li>
                                            <li><a href="#" class="text-muted"><i class="fa fa-comment"></i> {{post.comments.length}}</a></li>
                                            <li><a href="#" class="text-muted" ><i class="fa fa-chain" ></i>{{post.likeUsers.length}} </a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            
                            <div class="clearfix"></div>
                            <hr>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>